@import '../../../../src/styles-variables.scss';

div.card {
    background-color: $secondary;
    padding: 2em;
}

li {
    list-style: none;
}

h1.jersey-number {
    color: $primary;
}

a {
    color: $harley-orange;
}