@import '../../../../src/styles-variables.scss';

div.card {
    background-color: $secondary;
}

li {
    list-style: none;
    padding-bottom: 1em;
}

h1.jersey-number {
    color: $primary;
}

a {
    color: $harley-orange;
}

:host{ flex: 1; }