<div class="btn-group">
  <button class="btn btn-default" [routerLink]="['/roster']">Roster List</button>
</div>

<div class="card">
  <div class="card-body">
    <dl>
      <dt>Name: </dt>
      <dd>{{ player.name }}</dd>
      <dt>Height: </dt>
      <dd>{{ player.height }}</dd>
      <dt>Weight: </dt>
      <dd>{{ player.weight }}</dd>
      <dt>DOB: </dt>
      <dd>{{ player.DOB }}</dd>
    </dl>
  </div>
</div>

<button class="btn btn-default" [routerLink]="['/roster-edit', player._id]">Edit</button>
<button class="btn btn-default" (click)="deletePlayer(player._id)">Waive</button>
